*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-size: 20px;
	overflow-x: hidden;
	color: white;
	font-family: 'Flamenco', cursive;
}

header#indexHeader{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../images/pexels1.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../images/pexels3.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 20vh;
}

.clearfix:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

.row{
	max-width: 1180px;
	margin: 0 auto;
}

.img-logo{
	height: 90px;
	width: auto;
	float: left;
	margin-top: 20px;
	opacity: 0.7;
	border-radius: 50%;
}

.logo{
	height: 120px;
	width: auto;
	float: left;
	margin-top: 50px;
}

.main-nav{
	float: right;
	margin-top: 60px;
}

.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}

.main-nav li a{
	padding: 5px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%; 
	font-weight: 100;
}

.main-nav li a:hover{
	border-bottom: 2px solid #3260DA;
}


.main-content-header{
	width: 1180px;
	padding:0 2%;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);

}

div.main-content-header > h1#h1-main, h3#h3-main{
	color: #fff;
	font-size: 140%;  
	word-spacing: 5px;
	letter-spacing: 3px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: lighter;
}
div.main-content-header > p {
	color: #fff;
	font-size: 100%;  
	word-spacing: 4px;
	letter-spacing: 2px;
	margin-bottom: 20px;
	/*text-transform: capitalize;*/
	font-weight: lighter;
}

h1#order-menu{
	color: red;
	font-size: 240%;  
	word-spacing: 5px;
	letter-spacing: 3px;
	margin-bottom: 30px;
	margin-top: 70px;
	text-transform: uppercase;
	font-weight: lighter;
	text-align: center;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: floralwhite;
	margin-bottom: 50px;
	padding: 50px;
}
  
.flex-container > div {
	color: #000;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}

div.meal-text {
	font-size: 1rem;
	color: #000;
}

.table-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: floralwhite;
	margin-bottom: 10px;
	padding: 50px;
}

#actions {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

button.addMeal, button.actionBtn {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 10px;
	background-color: white; 
    color: black; 
    border: 2px solid #D02126;
}
button.btnCheckout {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 10px;
	background-color: white; 
    color: black; 
    border: 2px solid #D02126;
}

button.addMeal:hover, .btnCheckout:hover, button.actionBtn:hover {
	background-color: #BC9B5C;
    color: #000;
}

div>button.actionBtn {
	text-align: center;
}

#total {
	font-size: 2rem;
}

.btn{
	display: inline-block;
	padding: 10px 30px;
	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2;
}


.btn-full{
	background-color: transparent;
	color: #fff;
	margin-right: 15px;
	border: 2px solid #D02126;
}

.btn-full:hover{
	background-color: #BC9B5C;
	color: #000;	
}

.btn-nav{
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
}

.btn-nav:hover{
	background-color: #3260DA;
}


.colorchange{
	animation:  fastfoodfast-colorrandomizer 2s infinite;
}

/* For Cart Table */

table {
    border-collapse: collapse;
	width: 70%;
}

th, td {
    text-align: left;
	padding: 8px;
	color: #000;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: rgb(187, 45, 50);
	color: white;
}

/* End Cart Table */

/* Style Check boxes for Cart Table */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
	background-color: #bbb;
	border-radius: 5px;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #D02126;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* End Style checkboxes */

/* Add meal to menu in admin */

input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #D02126;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #BC9B5C;
	color: #000;
}

div#formDiv {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

/* End Admin add meal to menu*/

footer {
	padding: 20px;
}

footer > p {
	color: #000;
	text-align: center;
	font-weight: bold;
}

@keyframes fastfoodfast-colorrandomizer{
	0%{color: red;}
	25%{color:yellow; }
	50%{ color: white; }
	100%{ color:#3260DA;  }
}

.mobile-icon{display: none;}


/* Responsiveness begins at home */

@media only screen and (max-width: 480px){
	.btn-full{
		margin-bottom: 20px;
	}

	h1#h1-main{font-size: 30%;}

	.main-content-header{
		margin-top: 50px;
	}
}

@media only screen and (max-width: 998px){
	h1#h1-main{font-size: 10px;}
}

@media only screen and (max-width: 1180px){
	.main-content-header{
		width:100%;
		padding:0 2%;
	}

	.row{
		width:100%;
		padding:0 2%;
	}
}

@media only screen and (max-width: 785px){
	h1#h1-main{font-size: 180%;}	
	h3{font-size: 150%;}	

	.main-nav{display: none;}

	.mobile-icon{ display: inline-block; 
		color: #fff;
		float: right;
		margin-top: 30px;
		margin-right: 20px;
	}

	.main-nav{float: left;}

	.main-nav li{
		display: block;
		margin-top: 10px;
	}
}